	{% load static %}
	<!-- NAVIGATION -->
	<div id="navigation">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				{% if page %}
					<div class="category-nav">
				{% else %}
					<div class="category-nav show-on-click">
				{% endif %}
					<span class="category-header">Yangilik turlari <i class="fa fa-list"></i></span>
				<!-- category nav -->
				<ul class="category-list">
					{% for rs in category %}
					<li class="dropdown side-dropdown">
						<a href="/category/{{rs.id}}/{{rs.slug}}">{{rs.title}} <i class="fa fa-angle-right"></i></a>
					</li>
					{% endfor %}
				</ul>
				</div>
				<div class="menu-nav">
					<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
				<ul class="menu-list">
					<li> <a href="/">Asosiy</a></li>
					
				</ul>
				</div>
				<!-- menu nav -->
			</div>
		</div>
		<!-- /container -->
	</div>
	</div>
	
	<!-- /NAVIGATION -->